{% extends 'base.html.twig' %}

{% block title %}Sanded Transaction{% endblock %}

{% block body %}
<div class="container">
    <br>
    <div class="row">
        <div class="col-md-8 offset-2">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID#</th>
                    <th>Receiver Name</th>
                    <th>Receiver Username</th>
                    <th>Amount</th>
                    <th>Currency</th>
                    <th>Date time</th>
                </tr>
                </thead>
                <tbody>
                {% for t in transactions %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ t.receiver.username }}</td>
                    <td>{{ t.receiver.firstname }} {{ t.receiver.lastname }}</td>
                    <td>{{ t.amount }}</td>
                    <td>{{ t.currency.name }}</td>
                    <td>{{ t.date }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
